
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Finder</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=PT+Sans&family=Preahvihear&display=swap" rel="stylesheet">
    <script src="/request.js" type="module"></script>

</head>

<body>
    <div class = "header"> Searching Movies</div>
    <div class="title-class">Movie Finder</div>
   
   <form id="movieForm">
   <input id="user-input" type="text">
     <button type="submit">Search</button>
    </form>

    <div id="message-1"></div>
    <div id="message-2"></div>
    <div id="movie-list"></div>
    


<footer>
    <p>By Benji Bennett</p>
</footer>

</body>


</html>
