
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Finder</title>
    <link rel="stylesheet" href="./public/css/styles.css">
</head>

<body>
    <div>{{title}}</div>
    <div class="title-class">Movie Finder</div>
   <form id="movieForm">
   <input id="user-input" type="text">
   <button type="submit">Search</button>
</form>

    <div id="message-1"></div>
    <div id="message-2"></div>
    <div id="movie-list"></div>

    <script src="/public/request.js"></script>
<footer>
    {{footer}}
</footer>

</body>


</html>
